<link rel="stylesheet" href="/Home/Styles/bootstrap.min.css" />

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"/>
<script src="/Scripts/jquery-ui_pocket.js"></script>
<script src="/Scripts/_dialog.js"></script>

<div id="dialog" title="Замены" style="width:100%;">
    <table class="configtable table table-bordered table-hover">
        <tbody>
            <tr class="configrow template" style="display:none;">
                <td class="id"></td>
                <td class="what col-md-6"></td>
                <td class="by col-md-6"></td>
                <td>
                    <button type="button" role="button" class="removerow ui-button ui-widget ui-state-default ui-corner-all">
                        <span class="ui-icon ui-icon-close"></span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>


