<?xml version="1.0" encoding="utf-8"?>
<Configuration id="00000000-0000-0000-0000-000000000000">
  <Locked>False</Locked>
  <Notifications>
    <MessageFrom>info@ros-zalog.ru</MessageFrom>
    <MessageTo>79111393577@mail.ru</MessageTo>
  </Notifications>
  <ReplacementModel>
    <Replacement target="all">
      <what><![CDATA[]]></what>
      <by><![CDATA[]]></by>
    </Replacement>
  </ReplacementModel>
</Configuration>